[*.{kt,kts}]
disabled_rules=no-wildcard-imports
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation completely)  
indent_size=4
# true (recommended) / false
insert_final_newline=true
